---
import LeftSideBar from "./LeftSideBar.astro";
import RightSideBar from "./RightSideBar.astro";
import Content from "./Content.astro";
---

<div class="h-full max-h-full w-full grid grid-cols-5 justify-between mb-16">
    <LeftSideBar/>
    <Content/>
    <RightSideBar/>
</div>