<div class="hidden lg:block animate__animated animate__bounceInUp">
	<a
		href="/offers"
		class="block group text-sm leading-6 mt-12 lg:mt-8 bg-gradient-to-tr from-green-200 via-transparent to-indigo-200 dark:bg-gradient-to-br dark:from-blue-800 dark:via-transparent dark:to-indigo-800 p-5 rounded-lg shadow-md ring-1 ring-indigo-900/5 dark:ring-slate-900/10 dark:shadow-gray-50/10 relative hover:scale-105 transition-transform"
	>
		<h4
			class="text-indigo-900/80 dark:text-indigo-300/90 text-2xl text-center font-semibold antialiased tracking-tight"
		>
			Oferta 2023
		</h4>
		<div class="text-indigo-900/60 dark:text-indigo-300/70">
			<p
				class="mt-2 font-medium"
			>
				Obten un 50% de descuento en tu primer servicio registrandote.
			</p>
			<span class="absolute right-4 bottom-4 block">
				<svg
					class="w-6 h-6"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
					></path>
				</svg>
			</span>
		</div>
		<div class="group-hover:opacity-0 transition-opacity duration-300">
			<span
				class="absolute rounded-full aspect-square w-4 top-0 right-0 -m-1 bg-indigo-300/80 dark:bg-indigo-800/80 z-10"
			>
			</span>
			<span
				class="absolute aspect-square w-4 top-0 right-0 z-0 -m-1 bg-indigo-300/60 dark:bg-indigo-800/60 animate-ping rounded-full"
			></span>
		</div>
	</a>
</div>
