---
import MainLayout from "../../layouts/MainLayout.astro";
import Body from "../../components/Services/Body.astro";
---

<MainLayout>
	<div id="main-bg" class="bg-white min-h-screen relative">
		<section class="max-w-screen-xl h-full mx-auto sm:py-20 xl:py-36 px-10">
			<Body />
		</section>
		<span
			class="pointer-events-none left-0 right-0 bottom-0 top-3/4 absolute bg-gradient-to-t from-white dark:from-dark-primary"
		></span>
	</div>
</MainLayout>

<script>
	import setTheme from "../../scripts/Theme";
	setTheme(
		document.getElementById("main-bg") as HTMLElement,
		"insight-bg",
		"insight-bg-dark"
	);
</script>
