
em {
	font-style: normal;
}

b {
	font-weight: 600;
}

html {
	scroll-behavior: smooth;
	width: 100vw;
}

/* width */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
::-webkit-scrollbar-track {	
  @apply rounded-md bg-sky-100 dark:bg-slate-700;
}

/* Handle */												
::-webkit-scrollbar-thumb {
@apply rounded-md bg-sky-200 dark:bg-slate-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-sky-200/50 dark:bg-slate-500;
}
.mask {
	position: relative;
}

.mask::after {
	content: "";
	display: block;
	border-radius: 9999px;
	position: absolute;
	inset: 0;
	z-index: 10;
}

.mask-light::after {
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 63%
	);
}

.mask-dark::after {
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgb(255, 255, 255, 0) 0%,
		rgb(15, 23, 42, 1) 63%
	);
}

.global-bg-dark {
	background: rgb(33, 63, 106);
	background: linear-gradient(
		30deg,
		rgba(33, 63, 106, 1) 0%,
		rgba(25, 44, 73, 1) 14%,
		rgba(20, 33, 54, 1) 38%,
		rgba(17, 24, 39, 1) 54%,
		rgba(20, 33, 54, 1) 71%,
		rgba(25, 44, 73, 1) 89%,
		rgba(33, 63, 106, 1) 100%
	);
}

.global-bg {
	background: rgb(67, 145, 250);
	background: linear-gradient(
		30deg,
		rgba(67, 145, 250, 0.6460959383753502) 0%,
		rgba(67, 145, 250, 0.22872899159663862) 20%,
		rgba(67, 145, 250, 0) 80%,
		rgba(67, 145, 250, 0.65) 100%
	);
}

.insight-bg {
	background: rgb(49, 196, 102);
	background: linear-gradient(
		18deg,
		rgba(49, 196, 102, 0.14469537815126055) 0%,
		rgba(255, 255, 255, 0) 50%,
		rgba(56, 189, 248, 0.23713235294117652) 100%
	);
}

.insight-bg-dark {
	background: rgb(24, 62, 53);
	background: linear-gradient(
		18deg,
		rgba(24, 62, 53, 1) 0%,
		rgba(19, 36, 43, 1) 24%,
		rgba(17, 24, 39, 1) 50%,
		rgba(19, 33, 51, 1) 81%,
		rgba(23, 50, 72, 1) 100%
	);
}

.logo {
	background-image: url("/png/Logo_and_title.png");
}

.blink {
	position: relative;
}

.blink::after {
	content: "";
	position: absolute;
	background-color: currentColor;
	opacity: 0.8;
	width: 0.15em;
	height: 1em;
	bottom: 0;
	animation: blink 0.5s infinite alternate step-end;
}

.testimonials-gradient {
	background: white;
	background: linear-gradient(0deg, #fff 0%, rgba(67, 145, 250, 0) 100%);
}

.testimonials-gradient-dark {
	background: rgb(17, 24, 39);
	background: linear-gradient(
		0deg,
		rgba(17, 24, 39, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

@keyframes blink {
	50% {
		background-color: transparent;
	}
}

@font-face {
	font-family: Inter;
	src: url("/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
	font-family: Comfortaa;
	src: url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

/* 
	One side gradient light:
	background: -moz-linear-gradient(
		30deg,
		rgba(125, 185, 232, 0) 50%,
		rgba(125, 185, 232, 0.18) 66%,
		#4391fa91 100%
	); 
	background: -webkit-linear-gradient(
		30deg,
		rgba(125, 185, 232, 0) 50%,
		rgba(125, 185, 232, 0.18) 66%,
		rgba(67, 145, 250, 0.57) 100%
	); /
	background: linear-gradient(
		30deg,
		rgba(125, 185, 232, 0) 50%,
		rgba(125, 185, 232, 0.18) 66%,
		rgba(67, 145, 250, 0.57) 100%
	); /
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#914391fa',GradientType=1 ); 
	
	One side gradient dark:
	background: rgb(17, 24, 39);
	background: linear-gradient(
		30deg,
		rgba(17, 24, 39, 1) 60%,
		rgba(20, 33, 54, 1) 74%,
		rgba(25, 44, 73, 1) 88%,
		rgba(33, 63, 106, 1) 100%
	);


*/
