---
import PrivicyPolice from "./PrivicyPolice";

---

<div class="grid justify-items-center max-md:justify-items-start grid-cols-1 sm:grid-cols-2 gap-8 py-8 px-6 md:grid-cols-4">
	<div>
		<h2
			class="mb-6 text-sm font-semibold text-muted uppercase dark:text-dark-muted"
		>
			Compañia
		</h2>
		<ul class="text-muted dark:text-dark-muted">
			<li class="mb-4">
				<a href="/#about-us" class="hover:underline">Acerca de nosotros</a>
			</li>
			<li class="mb-4">
				<a href="/#why-us" class="hover:underline">Por qué nosotros</a>
			</li>
			<li class="mb-4">
				<a href="/#insight-objective" class="hover:underline">Vision y visión</a>
			</li>
		</ul>
	</div>
	<div>
		<h2
			class="mb-6 text-sm font-semibold text-muted uppercase dark:text-dark-muted"
		>
			Contacto
		</h2>
		<ul class="text-muted dark:text-dark-muted">
			<li class="mb-4">
				<p class="hover:underline"
					>Whatsapp: +57 3001792793</p
				>
			</li>
			<li class="mb-4">
				<p class="hover:underline">Email: whousecolombia@gmail.com</p>
			</li>
		</ul>
	</div>
	<div>
		<h2
			class="mb-6 text-sm font-semibold text-muted uppercase dark:text-dark-muted"
		>
			Legal
		</h2>
		<ul class="text-muted dark:text-dark-muted">
			<PrivicyPolice client:load/>
			<li class="mb-4">
				<a href="/licenses" class="hover:underline">Licencias</a>
			</li>
			<li class="mb-4">
				<a href="/terms-conditions" class="hover:underline"
					>Términos &amp; condiciones</a
				>
			</li>
		</ul>
	</div>
	<div>
		<h2
			class="mb-6 text-sm font-semibold text-muted uppercase dark:text-dark-muted"
		>
			Redes sociales
		</h2>
		<ul class="text-muted dark:text-dark-muted">
			<li class="mb-4">
				<a href="https://www.facebook.com/profile.php?id=100089343072563" class="hover:underline">Facebok</a>
			</li>
			<li class="mb-4">
				<a href="https://www.instagram.com/whousecolombia/" class="hover:underline">Instagram</a>
			</li>
		</ul>
	</div>
</div>
